node_modules
dist
build
.gradle
local.properties
*.log
*.keystore
*.jks
*.tsbuildinfo
out/
.DS_Store
android/app/build
android/.gradle
android/build
android/capacitor.build.gradle
android/app/capacitor.build.gradle
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
